@import url('<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">);
   
*{
  padding: 0;
  margin:0 ;
}
:root {
  --azul-mais-escuro: #011858;
  --roxo-medio: #a786c4;
  --bege: #e6e1c9;
  --marrom: #8d6f62;
  --branco: #FFFFFF;
}
body {
  font-family: "Pixelify Sans", sans-serif;
  padding-left: 50px;
  padding-right: 50px;
}
.topo{
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  align-items: center;
} 
.logo{
  width: 65px;
}
ul{
  display: flex;
  justify-content: center; 
}
li{
  list-style-type: none;
  padding-left: 17px ;
  padding-right: 10px;
}
a{
  text-decoration: none;
  color: var(--branco);
}
.botao-secundario{
  border: 2px solid var(--branco);
  border-radius: 5px;
}
img{
  width: 350px;
}
.corpo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.esquerda {
  display: flex;
  flex-direction: column;
}
p {
  font-size: 20px;
  font-weight: 200;
}
h1 {
  font-size: 40px;
  font-weight: 300;
}
.botao-primario {
  background-color: var(--branco);
  color: rgb(8, 3, 56);
  font-size: 28px;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}
p,h1{
  padding-top: 23px;
}